@charset "utf-8";

h1 {
	font-size: 50px;
}

body{
	padding-left: 10%;
	padding-right: 10%;
}

#logo {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 139px;
}

table {
	width: 70%;
	float: right;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}

footer{
	clear: both;
	overflow: auto;
	background-color: rgba(208,207,207,1.00);
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	line-height: 1.8;
	padding-top: 22px;
	padding-left: 22px;
	text-align: center;
	padding-bottom: 22px;
	padding-right: 22px;
}